extends layout.pug
block content
 p Enclosures :
 ul
  each val in enclosures
   a(href='/detail-enclosure/'+val.id)
    li= val.name
    p
 if haveEnclosure
  a(href='/form-monkey')
   button(type="submit") Add new monkey
 else
  p You need an enclosure to add a monkey.
 p
 a(href='/form-enclosure')
  button(type="submit") Add new enclosure
 p #{message}
 p #{monkeys}