extends layout.pug
block content
   form(action='/update-monkey/'+Id method='POST')
    label(for='name') Name
     input.form-control(type='text' name='name')
    p
    label(for='species') Species
     input.form-control(type='text' name='species')
    p
    label(for='height') Height (CM)
     input.form-control(type='number' name='height' min='1' max='999')
    p
    label(for='weight') Weight (KG)
     input.form-control(type='number' name='weight' min="1" max="999")
    p
    label(for='enclosure') Change enclosure :
     each val in enclosures
      p
      input.form-control(type='radio' name='enclosure' value=val.id)
      span= val.name
    p
    button(type="submit") Submit
    p #{message}